# macOS
.DS_Store
**/.DS_Store

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
sysinfo.txt
*.apk
*.aab
*.unitypackage
crashlytics-build.properties

# Visual Studio / Rider
.vscode/
.idea/
*.csproj
*.sln
*.userprefs

# .NET / ASP.NET Core
Server/bin/
Server/obj/
Server/appsettings.Development.json

# Level staging area
Client/Assets/StreamingAssets/new-levels/

# Unity iOS build output
Client/ios/

# Docker
